.title-item-accordion {
  margin: 0px;
  margin-left: 2px;
  font-size: medium;
}
.item-select-accordion {
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
  background-color: #c0d1e7;
  border-radius: 5px;
  padding: 5px;
}

.accordion-button:hover {
  cursor: pointer;
  background-color: var(--second-bg-color);
}
.item-select-accordion-2 {
  display: flex;
  align-items: center;
  margin-top: 10px;
  border-bottom: 1px solid;
  background-color: #c0d1e7;
  border-radius: 5px;
  padding: 5px;
}

.item-select-accordion-2:hover {
  cursor: pointer;
  background-color: var(--second-bg-color);
}
.item-select-accordion:hover {
  cursor: pointer;
  background-color: var(--second-bg-color);
}
.container-btn-out {
  display: flex;
  justify-content: space-around;
}
