.change-file {
  display: none;
}

.btn-profile-action {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  padding: 7px;
  border-radius: 8px;
  color: var(--first-text-color);
  width: 50px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn-profile-action:hover {
  background-color: var(--second-bg-color);
}

.container-card-component {
  border-radius: 16px;
  width: '15rem';
  border-radius: 20px 0px 0px 20px;
  box-shadow: none;
  /* border-right: 3px solid var(--second-bg-color); */
}

.img-avatar {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  overflow: hidden;
}
.img-card-component {
  width: 16rem;
}
.container-card-component-all {
  display: flex;
  /* border: 3px solid var(--second-bg-color); */
  border-radius: 20px;
  justify-content: flex-start;
  width: 100%;
}
.container-btn-edit {
  background-color: var(--first-bg-color);
  border-radius: 0px 18px 18px 0px;
}

.container-user-info {
  flex-grow: 1;
  background-color: #fff;
  padding-left: 40px;
}

.user-info {
  padding-top: 35px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  padding-bottom: 35px;
}

.user-info-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.user-info-icon {
  color: var(--first-bg-color);
}

@media screen and (max-width: 576px) {
  .container-card-component-all {
    flex-direction: column;
  }

  .container-card-component {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 0px 0px;
  }

  .container-btn-edit {
    display: flex;
    flex-direction: row;
    border-radius: 0px 0px 0px 0px;
    justify-content: center;
    align-items: center;
  }

  .btn-profile-action {
    margin-bottom: 10px;
  }
}
