* {
  margin: 0%;
  padding: 0%;
}
.navbar {
  background-color: var(--first-bg-color);
  position: fixed;
  width: 100vw;
  z-index: 2;
}
.name-company {
  margin-left: 10px;
  margin-top: 10px;
  font-family: var(--first-font-family), sans-serif;
  font-size: 19.2px;
  color: #000000cc;
  font-weight: 600;
}
.link-logo {
  margin-left: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  margin: 0%;
  padding: 0%;
  margin-left: 2%;
}
.container-logo {
  display: flex;
  align-items: center;
}
.container-link-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
.menu-desktop {
  margin-right: 10px;
}
.menu-mobile {
  margin-right: 40px;
}

.text-menu:hover,
.text-menu-select:hover {
  color: var(--text-hover-color);
  font-weight: 600;
  cursor: pointer;
  background-color: var(--first-bg-color);
}
.menu-name {
  font-family: var(--first-font-family);
  text-align: center;
  color: var(--first-text-color);
  font-size: medium;
  margin: 0px;
}
