:root {
  --first-bg-color: #ccd427;
  --second-bg-color: #2aa532;
  --three-bg-color: #ffffff;
  --fourth-bg-color: #716c6c;
  --fivebg-bg-color: #d85623;
  --six-bg-color: #b8c1c2;
  --first-text-color: #ffffff;
  --second-text-color: #2aa532;
  --three-text-color: #222222;
  --text-hover-color: #2aa532;
  --bg-hover-color: #d85623;
  --first-font-family: 'Nunito';
  --second-font-family: 'Roboto';

  --not-started-color: #e55050;
  --in-progress-color: #ffd24b;
  --finalized-color: #2aa532;
  --assigned-color: #1b18ce;

  --second-bg-color-30: rgba(42, 165, 50, 0.3);
}
